@import '../../../Styles/shared.scss';
.admin-sidebar-container{
    height: 100vh;
    .content_container{
        position: absolute;
        width: 100vw;
        height: calc(100vh - #{$header-nav-height-admin});
        margin: $header-nav-height-admin 0 0 0!important;
        padding: 0!important;
        border: none!important;
        border-radius: unset!important;
    }

    .sidebar-segment{
        width: $sidebar-width!important;
        background-color: whitesmoke!important;
        border: none!important;
        .item{
            color: $aksen!important;
            font-size: medium!important;
        }
    }

    .page-content-segment{
        height: calc(100vh - #{$header-nav-height-admin} - #{$admin-footer});
        padding: 0!important;
        overflow-y: scroll!important;
        @media only screen and (min-width: 768px) {
            width: calc(100vw - #{$sidebar-width})!important;
            left: $sidebar-width;
        }
        .end-page-divider{
            color: grey!important;
            font-weight: lighter;
            font-size: smaller;
        }
    }
}