@import '../../../Styles/shared.scss';

.web-footer_container{
    height: 100%;
    background-color: black;
    padding: 40px;
    position: relative;
    bottom: 0!important;
    .olive.icon{
        color: $aksen!important;
    }

    .maps_container{
        height: 170px;
    }
    .maps{
        height: 170px!important;
        max-width: 97%;
    }
}

@media only screen and (max-width:753px){
    .web-footer_container{
        bottom: -$header-nav-mobile-height;
    }
}

.ui.fluid.container.web-footer_container{
    width: 100%!important;
    margin-top: 40px!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
}