@import '../Styles/shared.scss';
.web-404-container{
  .content_segment{
      min-height: 258px;
      margin: 40px!important;
  }

  .text_header{
      color:$aksen!important;
      position:relative;
    }
    @keyframes noise-anim{
      $steps:20;
      @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
          clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
      }
    }
    .text_header:after{
      content:attr(data-text);
      position:absolute;
      text-shadow:-1px 0 red;
      top:0;
      left: 210px;
      color:$aksen;
      background:white;
      overflow:hidden;
      clip:rect(0,900px,0,0); 
      animation:noise-anim 2s infinite linear alternate-reverse;
    }
    
    @keyframes noise-anim-2{
      $steps:20;
      @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
          clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
      }
    }
    .text_header:before{
      content:attr(data-text);
      position:absolute;
      text-shadow:1px 0 blue; 
      top:0;
      color:$aksen;
      background:white;
      overflow:hidden;
      clip:rect(0,900px,0,0); 
      animation:noise-anim-2 3s infinite linear alternate-reverse;
    }

  .ikon{
    animation: blink 1s ease infinite;
  }

  @keyframes blink{
    from, to { opacity: 1;}
    50% {opacity: 0;}
  }
}